# ==========================================
# ENV TEMPLATE UNTUK VPS (PRODUCTION)
# ==========================================
DOCKER_HUB_USERNAME=username_docker_anda
APP_PORT=9000
SPRING_PROFILES_ACTIVE=prod

# Database Configuration (MySQL)
DB_HOST=38.47.180.18
DB_PORT=3306
DB_NAME=medibook_db
DB_USER=root
DB_PASSWORD=rahasia2026

# Redis Configuration
REDIS_HOST=host.docker.internal
REDIS_PORT=6379

# Security Config (JWT Secret 256-bit min)
JWT_SECRET=KunciRahasiaMedibookYangSangatPanjangDanAman2026!
